{% extends 'base.html' %}
{% load static %}
{% block title %}
    Home
{% endblock %}
{% block content %}

<div class="d-flex flex-row align-items-center">
    <div class="container mt-5">
        <a class="btn btn-primary" href="{% url 'main:home' %}"><i class="fa-solid fa-house fa-lg"></i></a>
        <a class="btn btn-success" href="{% url 'main:book_create' %}">Create New Book</a>
        <div class="row">
            {% for book in books %}
            <div class="col-md-6 mt-4 mb-3">
                <div class="card">
                    <img src="{% if book.image %}{{ book.image.url }}{% else %}{% static 'img/no-image.jpg' %}{% endif %}" class="card-img-top" alt="{{ book.title }}">
                    <div class="card-body">
                      <h5 class="card-title">{{ book.title }}</h5>
                      <p class="card-text">Author: {{ book.author }}</p>
                      <a href="{{ book.get_absolute_url }}" class="btn btn-primary">View Details</a>
                    </div>
                  </div>
            </div>
            {% empty %}
                <p class="text-danger fs-5">No books found.</p>
            {% endfor %}
        </div>
        {% include 'base/pagination.html' with objects=page_obj %}
    </div>
</div>

{% endblock %}